# Microsoft AI School - 2024/12/19 - 2024/12/20

## 1. Basic Python Syntax

In [4]:
# Horizonal, vertical, and diagonal text pattern generation
text = "Hello Python"
board = [[' ' for i in range(len(text))] for i in range(len(text))]

# Horizontal Projection
for i, char in enumerate(text):
    board[0][i] = char

# Vertical Projection
for i, char in enumerate(text):
    board[i][0] = char

# Diagonal Projection
for i, char in enumerate(text):
    board[i][i] = char

board

[['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n'],
 ['e', 'e', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
 ['l', ' ', 'l', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
 ['l', ' ', ' ', 'l', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
 ['o', ' ', ' ', ' ', 'o', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
 [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
 ['P', ' ', ' ', ' ', ' ', ' ', 'P', ' ', ' ', ' ', ' ', ' '],
 ['y', ' ', ' ', ' ', ' ', ' ', ' ', 'y', ' ', ' ', ' ', ' '],
 ['t', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 't', ' ', ' ', ' '],
 ['h', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'h', ' ', ' '],
 ['o', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'o', ' '],
 ['n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'n']]

### A. Print() Statements

#### Strings

In [5]:
# single or double quotation both work for printing string(text)
print("Hello World1")
print('Hello World2')
print("Hello World3")

Hello World1
Hello World2
Hello World3

In [6]:
# Jupyter Notebook prints onlt the last outputable line
"Hello World1"
"Hello World2"
"Hello World3"

'Hello World3'

##### Errors

In [15]:
# When printing a string, text has to be wrapped in a complete quotation pair
print("Hello World)

SyntaxError: unterminated string literal (detected at line 2) (1425046833.py, line 2)

In [7]:
#Error without quotation
# -  Python doesn't automatically register these as strings

Hello World1
Hello World2
Hello World3

SyntaxError: invalid syntax (2160090189.py, line 4)

In [8]:
# Error
# Python register these as variables but not previously defined

Hello, World1
Hello, World2
Hello, World3

NameError: name 'Hello' is not defined

In [17]:
# Indentation Error
# Avoid unwanted tabs/spaces

print("Hello World1")
    print("Hello World2")

IndentationError: unexpected indent (3223904546.py, line 5)

#### Integers

In [10]:
# These are integers
print(1)
print(2)
print(3)

1
2
3

In [11]:
# Not same as these
# These are strings
print('1')
print("2")
print('3')

1
2
3

In [12]:
# Python would print the calculated integer output
print(1+2)
print(2+3)
print(3+4)

3
5
7

In [14]:
# Without print statement, Jupyter Notebook prints only the last line
1+2
2+3
3+4

7

#### Dynamic

In [16]:
print("John Doe", "Age = ", 20)

John Doe Age =  20

In [19]:
print("Hello"); print("Python")

print("Nice \
to meet you")

Hello
Python
Nice to meet you

In [20]:
print("Hello"), print("World")

Hello
World

(None, None)

In [23]:
# Specify sep argument to put a certain character/symbol in between printable objects.
print("Hi", "Python", sep="*")

Hi*Python

In [22]:
print("Hi", "Python", sep='')

HiPython

In [25]:
# print next element in the same line
print("Hi", end=' ')
print("Python")

Hi Python

### B. Data Types and Variables

In [29]:
name = "Jane Doe"
age = 25

print(name, "age = ", age)

Jane Doe age =  25

#### I. Variables

##### Variable Naming Convention
* Variable names can be any combination of English alphabets, number, and underscore
* Variable name cannot start with number
* Avoid using keywords - already allocated words in Python - when choosing variable names.

In [30]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

#### II. Data Types

In [31]:
name = "John Doe"
type(name)

str

In [32]:
age = 20
type(age)

int

In [33]:
# Python is dynamically types, meaning users can reassign already defined variables to values of different data types.
name = "Jane Doe"
print(type(name))
name = 21
print(type(name))

<class 'str'>
<class 'int'>

##### Type Casting
* str()
* int()
* float()
* bool()

In [34]:
print(type("True"))
print(type(bool("True")))

<class 'str'>
<class 'bool'>

###### Boolean Facts
* If a variable has a meaningful value, it has a boolean value of True
* or None is False

In [39]:
print(bool(0))
print(bool(1))
print(bool(2))
print(bool("Hello"))
print(bool(None))
print(bool(''))
print(bool(' '))

False
True
True
True
False
False
True

### C. Operations

#### I. Artihmetic Operators
* '+'
* '-'
* '*'
* '/'
* '%'
* '//'
* '**'

In [41]:
# Problem 1. 
a = 3
b = 4

# Find sum, difference, product, division, quotient, and remainder

sum_1 = a + b
diff_1 = a - b
prod_1 = a * b
div_1 = a / b
quot_1 = a // b
rem_1 = a % b

print(f"sum = {sum_1}\
      difference = {diff_1}\
        product = {prod_1}\
            division = {div_1}\
                quotient = {quot_1}\
                    remainder = {rem_1}")

sum = 7      difference = -1        product = 12            division = 0.75                quotient = 0                    remainder = 3

In [55]:
# Problem 2
# Extract the individual digits of a given integer and print them in order

n = 1234


d1 = n // 1000              # Extracts the thousands digit
d2 = (n // 100) % 10        # Extracts the hundreds digit
d3 = (n // 10) % 10         # Extracts the tens digit
d4 = n % 10                 # Extracts the ones digit

print("Thousands digit =", d1,\
      "\nHundreds digit =", d2,\
      "\nTens digit =", d3,\
      "\nOnes digit =", d4)

Thousands digit = 1
Hundreds digit = 2
Tens digit = 3
Ones digit = 4

In [58]:
# Problem 2.H1
# Round down the amount to the nearest hundred
pay = 12345678 

ans = (pay // 100) * 100
print("Answer = ", ans)

Answer =  12345600

In [48]:
# Problem 2.H2
# Find the value at the b-th position of the value stored in variable a and stores it in variable c.
# Example:
# If a is 1234 and b is 1, the value at the first position (which is 4) should be stored in c.
# If a is 1234 and b is 4, the value at the fourth position (which is 1) should be stored in c.
a = 1234
b = 1

c = a % 10

print("Answer = ", c)

Answer =  4

#### II. Comparison Operators
* '=='
* '!='
* '<'
* '>'
* '<='
* '>='

In [59]:
# Problem 3.
# 1. 5 == 2
# 2. 
# 3. 
# 4. 

print("1. ", 5 == 2)

1.  False

#### III. Logical Operators
* and
* or
* not

In [61]:
# Problem 4.
# 1. (3 < 5) and (3 > 0)
# 2. (4 < 7) or (5 > 8)
# 3. not(5 < 9)

"""
1. True and True -> True
2. True or False -> True
3. not(True) -> False
"""

print("1. ", (3 < 5) and (3 > 0))
print("2. ", (4 < 7) or (5 > 8))
print("3. ",not(5 < 9))

1.  True
2.  True
3.  False

### D. More Strings

#### I. Single Line String
single quotes or double quotes

In [65]:
'Hello'

'Hello'

In [66]:
"Hello"

'Hello'

#### II. Multiline Strings
Triple single quotes or triple double quotes

In [67]:
'''Hello'''

'Hello'

In [68]:
"""Hello"""

'Hello'

In [69]:
multiline = '''
Hello
    Hello
        Hello
    Hello
Hello
'''
print(multiline)

Hello
    Hello
        Hello
    Hello
Hello

#### III. Escape Sequence
* \n: new line
* \t: tab
* \\': single quote inside quotation
* \\": double quote inside quotation
* \\\\: backslash insdie quotation

In [70]:
print("Hello \'World\'")

Hello 'World'

In [71]:
print("Hello \nWorld")

Hello
World

In [80]:
# Problem 5.

print("\'낮말\'은 새가 듣고 \'밤말\'은 쥐가 듣는다.")
# or
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")    # single quotations inside double quotations.

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.
'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

#### IV. String Operations

##### a. String Concatenation
Combining two or more strings

In [72]:
head = "Python"
tail = "Hello"

print(head + tail)

PythonHello

##### b. String Repetition
Repeating a string multiple times

In [73]:
head = "Python"
print(head * 3)

PythonPythonPython

##### c. String Length
Getting the number of characters in a string

In [74]:
string = "Python"
print(len(string))

6

In [77]:
# Spaces are also counted when calculating length
samplestring = "Life is too short"
print(len(samplestring))

17

##### d. String Indexing and Slicing
Extracting part or parts of a string.

In [82]:
# String Indexing - get the letter 't' of 'too'
string = "Life is too short"
print(string[8])    # index starting from 0

t

In [83]:
# Can also count down from 0 to get the n-th character from the end.
string = "Life is too short"
print(string[-5])

s

In [87]:
# String Slicing
# Get 'too' from the sentnece
string = "Life is too short"

# Using Indexing
print(string[8]+string[9]+string[10])

# Using Slicing
print(string[8:11])     # Starting index is inclusive but the ending index is exclusive.

too
too

In [91]:
string = "Life is too short"

print(string[:17])      # start index is 0 by default
print(string[8:])       # ending index is all the way to the end by default
print(string[::2])      # step determins how many characters to skip

Life is too short
too short
Lf stosot

In [105]:
# Problem 6
# Create a new word using indexing and slicing

string = "Life is too short, you need Python"
word = string[0:2] + string[-2:]

print(word)

Lion

### E. User Input
* Input() function

In [107]:
name = input()

print("Your name is " + name)

Your name is John Doe

In [108]:
# Can also display a message/prompt for input
name = input("What is your name?")
print("Your name is " + name)

Your name is John Doe

In [109]:
# Problem 7
# Get two integer inputs from the user
# Then, add those two numbers together

n1 = input("First number: ")
n2 = input("Second number: ")

print(int(n1) + int(n2))

9

In [117]:
# Problem 7.H1
# Calculate the Area of a Triangle
# Receive two inputs from the user: one for the base and the other for the height of the triangle,
# then calculate the area of the triangle.

base = int(input("Base: "))
height = int(input("Height: "))

area_T = base * height * 0.5

print("Base = ", base, "\nHeight = ", height)
print("The area of the Triangle = ", area_T)

Base =  10
Height =  6
The area of the Triangle =  30.0

In [115]:
# Problem 7.H2
# Snack Bar Order 
# The menu is as follows.
# Write a program that receives the quantity ordered for each menu item and automatically calculates the total amount to be paid.
# Prices: 김밥 = 3,000, 떡볶이 = 3,500, 라면 = "2,500"

Gimbap = int(input("Number of Gimbap: "))
Tteokbokki = int(input("Number of Tteokbokki: "))
Ramyeon = int(input("Number of Ramyeon: "))

print("Number of Gimbap ordered: ", Gimbap,\
      "\nNumber of Tteokbokki ordered: ", Tteokbokki,\
        "\nNumber of Ramyeon ordered: ", Ramyeon,\
            "\nTotal Price = ", (Gimbap * 3000) + (Tteokbokki * 3500) + (Ramyeon * 2500))

Number of Gimbap ordered:  2
Number of Tteokbokki ordered:  1
Number of Ramyeon ordered:  2
Total Price =  14500

### F. f-string

In [ ]:
a = float(input("First number: "))
b = float(input("Second number: "))

print(f'{a} * {b} = {a * b}')
print(f'{a:.4f} * {b:.4f} = {a * b:,.4f}')      # Display the value to four decimal places

1000.1234 * 2000.456789 = 2000703.6453677625
1000.1234 * 2000.4568 = 2,000,703.6454

In [131]:
# Challenge
# Receive the input of the radius of a circle as float, and calculate the circumference and area of the circle.
# Output the circumference rounded to one decimal place and format the area with commas to set off thousands.

radius = float(input("Radius of a circle: "))
print(f"Radius = {radius}㎝")

circum = radius * 2 * 3.14
area_C = (radius ** 2) * 3.14

print(f"The circumference of the circle is {circum:.1f}㎝\
\nThe area of the circle is {area_C:,}㎠")

Radius = 150.7㎝
The circumference of the circle is 946.4㎝
The area of the circle is 71,310.9386㎠

### G. Program Logic Control Structure
* Sequential Logic (Flow)
* Selection Logic (Conditional Flow)
* Iteration Logic (Repetitive Flow)

#### I. Conditional Statements

##### a. If Statements
if {condition}: {command}

In [134]:
result = 10 > 4
if result:
    print("This is a test")

result = 10 - 4
if result:
    print("Hello World")

This is a test
Hello World

In [135]:
result1 = 10 > 4
result2 = False
result3 = result1 and result2       # False

if result3:
    print("This is AND")

result3 = result1 or result2

if result3:
    print("This is OR")

This is OR

In [136]:
money = 10 - 6

if money:
    print("Buy stuffs")
else:
    print("Save")
print("Money")

Buy stuffs
Money

In [139]:
# Even or Odd
num = int(input("Insert an integer: "))

if num % 2 == 0:
    print(f"The integer {num} is an even integer")
else:
    print(f"The integer {num} is an odd integer")

The integer 2 is an even integer

In [146]:
score = int(input("Enter your score: "))
if score >= 90:
    letter_score = "A"
elif score >= 80:
    letter_score = "B"
elif score >= 70:
    letter_score = "C"
elif score >= 60:
    letter_score = "D"
else:
    letter_score = "F"

print(f"Your letter score is {letter_score}")

Your letter score is A

In [153]:
# 2.
year_born = input("Enter the year you were born: ")
age = int(input("Enter your age: "))

print(year_born[-1])
if age >= 65:
    day = "Every day"
else:
    if year_born[-1] == "1" or year_born[-1] == "6":
        day = "Monday"
    elif year_born[-1] == "2" or year_born[-1] == "7":
        day = "Tuesday"
    elif year_born[-1] == "3" or year_born[-1] == "8":
        day = "Wednesday"
    elif year_born[-1] == "4" or year_born[-1] == "9":
        day = "Thursday"
    elif year_born[-1] == "5" or year_born[-1] == "0":
        day = "Friday"

print(f"You can buy the mask on {day}")

0
You can buy the mask on Friday

In [158]:
# 3.
height = float(input("Enter your height: "))
weight = float(input("Enter your weight: "))

BMI = weight / (height * height)

if BMI >= 25:
    status = "Obesity"
elif BMI >= 23:
    status = "Oveweight"
elif BMI >18.5:
    status = "Healthy Weight"
elif BMI < 18.5:
    status = "Underweight"

print(f"Your BMI is \'{BMI}\' and your status is \'{status}\'")

Your BMI is '21.913805697589478' and your status is 'Healthy Weight'

In [160]:
# 3.
day = int(input("Enter today's date: "))
carplate = int(input("Enter your carplate number: "))

flag = 0
if day < 1 or day > 31:
    print("Error: Invalid Date")
    flag = 1
if len(str(carplate)) != 4:
    print("Error: Invalid carplate number")
    flag = 1

if flag == 0:
    if day % 2 == 0:
        print("Cars with even carplate number can operate today.")
        if carplate % 2 == 0:
            print("You can operate your car today.")
        else:
            print("You cannot operate your car today.")
    else:
        print("Cars with odd carplate number can operate today.")
        if carplate % 2 == 0:
            print("Your cannot operate your car today.")
        else:
            print("You can operate your car today.")

Cars with even carplate number can operate today.
You can operate your car today.

In [ ]:
# f-string recap exercise

name = input("Enter your name: ")
visit = int(input("Enter the number of visits: "))

print(f"Hello {name}!")
print(f"Today marks your {visit + 1}{'st' if (visit + 1) % 10 == 1 and (visit + 1) % 100 != 11 else 'nd' if (visit + 1) % 10 == 2 and (visit + 1) % 100 != 12 else 'rd' if (visit + 1) % 10 == 3 and (visit + 1) % 100 != 13 else 'th'} visit.")

Hello Brian!
Today marks your 12th visit.

In [15]:
# string indexing and slicing recap exercise

gender = input("Enter your gender: m/f")
dob = input("Enter your date of birth: yyyy/mm/dd")
ssn4 = input("Enter your last four digits of your social security number: ")

if gender == "m":
    if int(dob[0:4]) < 2000:
        gender_code = 1
    elif int(dob[0:4]) >= 2000:
        gender_code = 3
elif gender == "f":
    if int(dob[0:4]) < 2000:
        gender_code = 2
    elif int(dob[0:4]) >= 2000:
        gender_code = 4

korean_ssn = dob[2:4] + dob[5:7] + dob[8:10] + "-" + str(gender_code) + "**" + ssn4

print(f"Your Korean Social Secutiy Number is: {korean_ssn}")

Your Korean Social Secutiy Number is: 001230-3**9999

In [14]:
# challenge 1
# Output the text given below in a reverse order.
string = "이번역은 역삼역, 역삼역입니다. 앞으로 읽어도 역삼역 거꾸로 읽어도 역삼역"

rev_string = string[::-1]
print(rev_string)

역삼역 도어읽 로꾸거 역삼역 도어읽 로으앞 .다니입역삼역 ,역삼역 은역번이

In [23]:
# conditional statement recap exercise
# Login system using ID and password

###
system = {
    "6a123": "MSAISCHOOL123",
    "6a456": "MSAISCHOOL456",
    "6a789": "MSAISCHOOL789",
    "6b123": "MSAISCHOOL123",
    "6b456": "MSAISCHOOL456",
    "6b789": "MSAISCHOOL789"
}
###

user_id = input("ID: ")
user_pw = input("Password: ")

if user_id in system:
    if user_pw == system[user_id]:
        print("Login successful!")
    else:
        print("Invalid Password")
else:
    print("Invalid ID")

Invalid ID

#### II. Iteration
also know as loop statement
* while: conditional iteration
* for: sequential interation
* while True: indefinite (continuous) iteration

##### a. While Loop

In [1]:
# While Loop Pseudocode
"""
while {condition}:
    {statement}
"""

'\nwhile {condition}:\n    {statement}\n'

In [7]:
i = 0
print("Start of the while loop")
while i < 5:
    print(f"Loop #{i+1}: Hello Python")
    i = i + 1
print("End of the while loop")

Start of the while loop
Loop #1: Hello Python
Loop #2: Hello Python
Loop #3: Hello Python
Loop #4: Hello Python
Loop #5: Hello Python
End of the while loop

In [9]:
# Exercise - print 1 through 20 using while loop

i = 0
while i < 20:
    print(i+1, end =" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
# Challenge - Take an integer input from the user and calculate the sum of all numbers from 1 to the user-input number.

user_integer = int(input("Enter an integer: "))

i = 1   # starting value set to 1 and increment it each iteration
total_sum = 0
total_product = 1
even_sum = 0
while i < user_integer + 1:
    # task 1: Get the total sum
    total_sum += i
    # task 2: Get the total product
    total_product *= i
    # task 3: Get the total sum of the even integers
    if i % 2 == 0:
        even_sum += i 
    i+= 1

print(f"The total sum of the integers from 1 to {user_integer} is {total_sum}")
print(f"The total product of the integers from 1 to {user_integer} is {total_product}")
print(f"The total sum of the even integers from 1 to {user_integer} is {even_sum}")

The total sum of the integers from 1 to 20 is 210
The total product of the integers from 1 to 20 is 2432902008176640000
The total sum of the even integers from 1 to 20 is 110

##### b. For Loop

In [23]:
# For Loop Pseudocode
"""
for {variable} in {iterable}:
    {statement}
"""

'\nfor {variable} in {iterable}:\n    {statement}\n'

###### range() function

range({start_index}, {end_index}, {step_size})
- start_index(inclusive) is where the loop starts. Has a default value of 0
- end_index(exclusive) is where the loop ends.
- step_size(optional) determins how many steps to skip. Has a default value of 1

In [31]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [32]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
# Challenge - Take an integer input from the user and calculate the sum of all numbers from 1 to the user-input number 
# using for loop and range() function

user_integer = int(input("Enter an integer: "))

total_sum = 0
total_product = 1
even_sum = 0
for i in range(user_integer):
    # task 1: Get the total sum
    total_sum += i + 1
    # task 2: Get the total product
    total_product *= i + 1
    # task 3: Get the total sum of the even integers
    if (i + 1) % 2 == 0:
        even_sum += i + 1 

print(f"The total sum of the integers from 1 to {user_integer} is {total_sum}")
print(f"The total product of the integers from 1 to {user_integer} is {total_product}")
print(f"The total sum of the even integers from 1 to {user_integer} is {even_sum}")

The total sum of the integers from 1 to 10 is 55
The total product of the integers from 1 to 10 is 3628800
The total sum of the even integers from 1 to 10 is 30

In [40]:
# For Loop exercise
# Display the multiplication table for the number entered by the user.

base_num = int(input("Enter an integer to generate its multiplicaiton table: "))
print(f"*** Multiplications of {base_num} ***")
for i in range(1, 10):
    print(f"{base_num} x {i} = {base_num * i}")

*** Multiplications of 16 ***
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144

In [41]:
# Using while loop

base_num = int(input("Enter an integer to generate its multiplication table: "))
print(f"*** Multiplications of {base_num} ***")

i = 1
while i < 10:
    print(f"{base_num} x {i} = {base_num * i}")
    i += 1

*** Multiplications of 16 ***
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144

In [52]:
# Challenge
# Multiplication tables for integers 2 to 9

print(f"{"*" * 40} M U L T I P L I C A T I O N\tT A B L E {"*" * 40}\n")
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j} x {i} = {j * i}", end="\t")
    print("\n")

**************************************** M U L T I P L I C A T I O N	T A B L E ****************************************

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9

2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18

2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27

2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36

2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45

2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54

2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63

2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72

2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

##### Keyword: break
* Stops the iteration and exit a loop (break out of a loop)

In [55]:
# Using break in a for loop

sum = 0
for i in range(1, 11):
    sum += i
    if sum >= 20:
        print(i, sum)
        break       # Break out of the loop when the sum reaches 20 or higher.

print(sum)

6 21
21

In [57]:
result = 0

while True:
    prompt_code = int(input("Choose an operation: \n1. ADD\n2. DEL\n3. QUIT"))
    if prompt_code == 3:
        print("Operation 3. QUIT")
        break
    input_num = int(input("Enter an integer: "))
    if prompt_code == 1:
        print("Operation 1. ADD")
        print(f"Adding {input_num} to the total")
        result += input_num
    elif prompt_code == 2:
        print("Operation 2. DEL")
        print(f"Subtracting {input_num} from the total")
        result -= input_num
    else:
        print("Invalid Operation")
        break
print(result)

Operation 1. ADD
Adding 100 to the total
Operation 2. DEL
Subtracting 10 from the total
Operation 2. DEL
Subtracting 20 from the total
Operation 3. QUIT
70

##### Keyword: continue
* Ends the current iteration in a loop and continues to the next iteration.

In [60]:
# Get odd integers and the total sum of odd integers using continue keyword in a loop

odd_sum = 0
for i in range(1, 11):
    if i % 2 == 0:
        continue
    else:
        odd_sum += i
        print(i, end = " ")

print(f"\nThe total sum of odd integers from 1 to 10 is {odd_sum}")

1 3 5 7 9
The total sum of odd integers from 1 to 10 is 25

In [63]:
# Challenge - Guess the number
### imports
import random
answer = random.randint(1, 100)     # randomly generate an integer between 1 and 100.

guess_count = 0
while True:
    guess = int(input("Guess the number between 1 and 100"))
    guess_count += 1
    if guess > answer:
        print("lower")

    elif guess < answer:
        print("higher")
        
    elif guess == answer:
        print("Correct!")
        print(f"You correctly guessed the number in {guess_count} attempts")
        break

higher
higher
higher
higher
lower
lower
lower
lower
Correct!
You correctly guessed the number in 9 attempts